.carre{
    height:300px;
    width:300px;
}

.carre1{
    background-color: red;
}

.carre2{
    background-color: greenyellow;
}

.carre3{
    background-color: blueviolet;
}

.bord{
    border: 10px black solid;
}


Pour ceux qui auront terminés . Avec Powtoon faites votre portrait chinois:
Portrait chinois 
- Si j’étais un animal, je serais… 
- Si j’étais un heros(une heroine) je serais… 
- Si  j’étais une plante
- Si j’étais un plat cuisiné, 
- Si j’étais une œuvre d’art, je serais… 
- Si j’étais une époque, je serais… 
Qualités symboliques révélées par les réponses ci-dessus : Par exemple : si j’étais un animal, je serais un chat. Car j’ai des qualités de souplesse, de discrétion, d’indépendance.
vous devez répondre par une image et du texte

https://www.youtube.com/watch?v=rbLn38Bkc9g
https://www.youtube.com/watch?v=bPGqQQWP918&ab_channel=profournier
https://coindoc.files.wordpress.com/2017/03/tuto_powtoon.pdf

