.carre{
    width:400px;
    height:400px;
    background-color: brown;
}

.carre:hover{
    background-color: yellow;
   border-radius:100%;
}

.image{
    background:url("../coffee/cafe.jpeg") no-repeat center center/50% ;
    height:400px;
}

.image:hover{
    background:url("../coffee/cafe2.jpeg") no-repeat center center/50% ;
    height:400px;
}